@model WebApplication2.Models.Cliente

<div class="card shadow-sm border-0">
    <div class="card-body">
        <div class="row">
            <!-- Nome -->
            <div class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Nome)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Nome)
            </div>

            <!-- Cognome -->
            <div class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Cognome)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Cognome)
            </div>

            <!-- Email -->
            <div class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </div>

            <!-- HaveAccess -->
            <div class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.HaveAccess)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.HaveAccess)
            </div>

            <!-- Numero Telefono -->
            <div class="col-sm-4 font-weight-bold">
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </div>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.NumeroTelefono)
            </div>
        </div>
    </div>
</div>